${THESES_BATCH_SUPPRESSION_PERSONNES_CRON} /scripts/personnes-batch-suppression.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${THESES_BATCH_INDEXATION_PERSONNES_CRON} /scripts/personnes-batch-indexation.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
