${THESES_BATCH_INDEXATION_THESES_CRON} /scripts/theses-batch-indexation.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${THESES_BATCH_SUPPRESSION_THESES_CRON} /scripts/theses-batch-suppression.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${THESES_BATCH_INDEXATION_THEMATIQUES_CRON} /scripts/thematiques-batch-indexation.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${THESES_BATCH_SUPPRESSION_THEMATIQUES_CRON} /scripts/thematiques-batch-suppression.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${THESES_BATCH_SUPPRESSION_PERSONNES_CRON} /scripts/personnes-batch-suppression.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${THESES_BATCH_INDEXATION_PERSONNES_CRON} /scripts/personnes-batch-indexation.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${THESES_BATCH_SUPPRESSION_RECHERCHE_PERSONNES_CRON} /scripts/recherche-personnes-batch-suppression.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${THESES_BATCH_INDEXATION_RECHERCHE_PERSONNES_CRON} /scripts/recherche-personnes-batch-indexation.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
